/*
    Author: Mateus Nascimento
    Email: mateus.nnascimento.s@gmail.com
*/

body {
    background: url(../images/background.jpg) no-repeat;
    background-position: right;
    background-attachment: fixed;
}

div .div {
    background-color: rgba(97,97,97,.4);
    padding: .5px;
    min-width: 100px;
    margin: 0px 200px 0px 200px;
}

header {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

header #logo {
    width: 250px;
    height: auto;
}

#btn-floating {
    opacity: .1;
    transition: .5s;
}

#btn-floating:hover {
    opacity: 1;
}

main {
    max-width: 800px;
    min-width: 300px;
    height: auto;
    margin: auto;
    font-family: 'Lato', sans-serif;
}

.card {
    box-shadow: 0px 0px 4px rgba(0,0,0,.3);
}

.card #banner1 {
    display: block;
    padding: 120px 0px 20px 30px;
    box-shadow: 0px 2px 0px rgba(196, 31, 69, .5);
    background: url(../images/banner1.png) no-repeat;
    background-position: right;
    background-size:cover;
}

.card #content1 {
    text-align: center;
    padding-bottom: 15px;
}

.card #content1 h1 {
    color: #616161;
    font-size: 80px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card #secundario {
    display: none;
}

.card #banner2 {
    height: 100px;
    display: block;
    padding: 100px 350px 0px 0px;
    box-shadow: 1px 0px 0px rgba(196, 31, 69, .5);
    background: url(../images/banner2.png) no-repeat;
    background-position: right;
    background-size:cover;
}

.card #content2 {
    text-align: center;
    height: 100px;
}

.card #content2 h1{
    font-size: 80px;
    color: #616161;
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit {
    display: none;
    padding: 0px 100px 30px 100px;
}

.edit h1 {
    color: #616161;
    font-size: 20px;
    padding-top: 30px;
}

.edit #btn-submit {
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    margin-top: 10px;
}

footer .footer_logo {
    width: 100px;
    height: auto;
    margin: 5px;
}